[Unit]
Description=Spiggot Server
Documentation=

Wants=network.target
After=network.target

[Service]
User=minecraft
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/home/minecraft
ExecStart=/home/minecraft/start.sh
ExecStop=/home/minecraft/mcrcon -H 127.0.0.1 -p {{rcon_pass}} stop

[Install]
WantedBy=multi-user.target
